<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|tpl|tmpl)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

Options -Indexes

<IfModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file \.(html?|xhtml|css|js|json)$
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_include mime ^text/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
	mod_gzip_item_exclude mime ^image/.*
	mod_gzip_item_include handler ^cgi-script$
</IfModule>

<IfModule mod_deflate.c>
	<FilesMatch "\.(x?html|css|js|svg|json|xml|eot|woff2?|ttf|otf)$">
		SetOutputFilter DEFLATE
		# For Older Browsers Which Can't Handle Compression
		BrowserMatch ^Mozilla/4 gzip-only-text/html
		BrowserMatch ^Mozilla/4\.0[678] no-gzip
		BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
	</FilesMatch>
</IfModule>

<FilesMatch "\.(x?html|css|js|json|php)$">
	AddDefaultCharset UTF-8
</FilesMatch>

<IfModule mod_headers.c>
	<FilesMatch "\.(x?html|css|js|png|jpe?g|svg|json|xml|gif|swf|eot|woff2?|ttf|otf|pdf)$">
		Header set Cache-Control "public, max-age=31536000"
	</FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	ErrorDocument 403 /

	# Remove index.php from url
	RewriteCond %{THE_REQUEST} ^.*/index.php
	RewriteRule ^(.*)$ / [R=301,L]

	# Force www
	#RewriteCond %{HTTP_HOST} !^www\.
	#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

	# Force https
	#RewriteCond %{HTTPS} !=on
	#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

	# Prevent Script Injection
	RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
	RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
	RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
	RewriteRule ^(.*)$ index.php [F,L]

	# Redirect trailing slashes if not a folder
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} (.+)/$
	RewriteRule ^ %1 [L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

	# Access to assets from root to public folder
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} ^.*\.(x?html|css|js|png|jpe?g|svg|json|xml|gif|swf|eot|woff2?|ttf|otf|pdf) [NC]
	RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
	RewriteRule ^(.*)$ /public/$1 [L]

	# Prevent access to .php files
	RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
	RewriteCond $1 !^(index\.php)
	RewriteRule ^(.*)$ index.php/$1 [L]

	# Prevent access to .html files
	RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.html[?\ ]
	RewriteCond $1 !^(index\.php)
	RewriteRule ^(.*)$ index.php/$1 [L]

	# Prevent access to config.json file
	RewriteCond %{REQUEST_URI} ^.*config\.json [NC]
	RewriteCond $1 !^(index\.php)
	RewriteRule ^(.*)$ index.php/$1 [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [QSA,L]
</IfModule>
